body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.chat-div {
  text-align: center;
}

.chat-icon {
  width: 20px;
  height: auto
}
.mute-btn-container {
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.mute-btn, .unMute-btn {
  font-size: 12px;
  border-radius: 5px;
}

.mute-btn {
  background-color: red
}

/*Video*/
.row {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 100%;
  /* background-color: peru; */
}

.video-screen {
  margin-bottom: 10px;
  border: 2px solid;
  border-radius: 5px;
  box-shadow: 10px 10px 46px 3px rgba(212,204,212,1);
}

.smallVideo {
  position: absolute;
  margin-left: 300px;
}


/*Notification*/
.notification {
  background-color: rgb(165, 172, 183);
  width: 160px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  margin: 10px;
}

.notification p {
  margin: 0px;
  font-size: 16px;
  height: 30px;
  line-height: 200%;
}


.invite-button {
  color: white;
  width: 50%;
  height: 30px;
  border: none;
  margin-top: 2px;
  border: 1px black dashed;
  /* margin-top: 3px; */
}

.invite-button:hover {
  cursor: pointer;
}

.invite-button:focus {
  outline: none;
}

#reject {
  background-color: rgb(165, 14, 30);
  border-radius: 0px 0px 5px 0px;
}

#accept {
  background-color: rgb(14, 135, 8);
  border-radius: 0px 0px 0px 5px;
}
#accept:focus {
  background-color: rgba(14, 135, 8, .6)
}

#reject:focus {
    background-color: rgba(165, 14, 14, 0.6)
}

.call-list {
  display: flex;
  flex-direction: row;
  overflow: scroll;
  margin-bottom: 10px;
}

.rejection {
  text-align: center;
  background-color: rgba(138, 140, 142, 0.6);
  color: red;
  font-size: 2rem;
  width: 100%;
  border-radius: 5px;
  position: absolute;
  top: 135px;
}

